<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title><%= user.username %>'s Anime List</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <div class="profile-anime-list-container">
    <h1 class="anime-list-title"><%= user.username %>'s Anime List</h1>
    <div class="anime-cards">
      <% user.animes.forEach((anime) => { %>
        <div class="anime-card">
          <h2><%= anime.title %></h2>
          <p>Status: <%= anime.status %></p>
          <% if (anime.notes) { %>
            <p>Notes: "<%= anime.notes %>"</p>
          <% } %>
          <% if (anime.recommended) { %>
            <p>Recommended <img src="/images/star.png" alt="Star Icon" class="star-icon"></p>
          <% } else { %>
            <p>Not Recommended</p>
          <% } %>
        </div>
      <% }) %>
    </div>
  </div>
</body>
</html>




