<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= user.username %>'s Anime List</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1><%= user.username %>'s Anime List</h1>
  <ul>
    <% user.animes.forEach((anime) => { %>
      <li>
        <%= anime.title %> - <%= anime.status %>
        <% if (anime.recommended) { %>
          <span> - Recommended</span>
        <% } else { %>
          <span> - Not Recommended</span>
        <% } %>
      </li>
    <% }) %>
  </ul>
</body>
</html>
